# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
lib/
lib64/
var/
pip-wheel-metadata/
.pytest_cache/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
target/
.ipynb_checkpoints
.python-version
__pypackages__/
*.sage.py
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.idea/
*.sqlite3
*.sqlite3-journal